*{
	margin: 0px;
	padding: 0px;
}
img{
	border: 0 none;
	vertical-align: top;
}
ul,li{
	list-style: none;
}
.clearfix::before , .clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    zoom: 1;
}
.fl{
	float: left;
}
a{
	text-decoration: none;
	color: #a78f68;
}


.head{
	width: 100%;
	height: 68px;
	background: #231A17;
	color:#f6e6c9;
	position: fixed;
	z-index: 10;
}
.head ul{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.head li{
	float: left;
	line-height: 68px;
	width: 20%;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.head li:hover{
	font-size: 18px;
	color: #f0c992;
}
.twith-one{
	display: none;
    width: 526px;
    height: 160px;
    padding-top: 42px;
    position: absolute;
    bottom: -194px;
    left: 50%;
    margin-left: -263px;
    background: url(img/gw_channel_d269c87.png);
}
.twith-one a{
	display: inline-block;
    width: 110px;
    margin: -44px 20px;
    height: auto;
    text-decoration: none;
    color: black;
}
.twith-one div{
	width: 110px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    line-height: 110px;
}
.twith-two{
	display: none;
    width: 121px;
    height: 134px;
    padding-top: 28px;
    position: absolute;
    bottom: -154px;
    left: 50%;
    margin-left: -60px;
    background-size: 100%;
    background:url(img/nav_htxy_a32f38d.png)0 0 no-repeat;
}
.twith-two a{
	font-size: 16px;
    padding-top: 20px;
	text-decoration: none;
	display: block;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: black;
}
.twith-three{
	display: none;
    width: 121px;
    height: 134px;
    padding-top: 28px;
    position: absolute;
    bottom: -154px;
    left: 50%;
    margin-left: -60px;
    background-size: 100%;
    background: url(img/nav_htxy_a32f38d.png)0 0 no-repeat;
}
.twith-three a{
	display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.mmma{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999999;
	background: rgba(0, 0, 0, .8);
	display: none;
}
.mmma .personal{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	margin-top: 120px;
	perspective: 5000px;
	transform-style: preserve-3d;
	position: relative;
	animation: jump 10s linear infinite ;
	cursor: pointer;
	top: 70px;
	left: 0;
	/*display: none;*/
	z-index: 999999999999999999;
}
@keyframes jump{
				/*开始-结束的过程*/
				from{}
				to{
					transform: rotateY(360deg);
				}
			}
			

@keyframes su-pudding {
0% {
    transform: scale(1.2, 0.8);
}
1% {
    transform: scale(1.18, 0.82);
}
2% {
    transform: scale(1.16, 0.84);
}
3% {
    transform: scale(1.13, 0.87);
}
4% {
    transform: scale(1.1, 0.9);
}
5% {
    transform: scale(1.07, 0.93);
}
6% {
    transform: scale(1.04, 0.96);
}
7% {
    transform: scale(1.01, 0.99);
}
8% {
    transform: scale(0.99, 1.01);
}
9% {
    transform: scale(0.97, 1.03);
}
10% {
    transform: scale(0.95, 1.05);
}
11% {
    transform: scale(0.94, 1.06);
}
12% {
    transform: scale(0.93, 1.07);
}
13% {
    transform: scale(0.93, 1.07);
}
14% {
    transform: scale(0.93, 1.07);
}
15% {
    transform: scale(0.93, 1.07);
}
16% {
    transform: scale(0.94, 1.06);
}
17% {
    transform: scale(0.94, 1.06);
}
18% {
    transform: scale(0.95, 1.05);
}
19% {
    transform: scale(0.96, 1.04);
}
20% {
    transform: scale(0.98, 1.02);
}
21% {
    transform: scale(0.99, 1.01);
}
22% {
    transform: scale(1, 1);
}
23% {
    transform: scale(1, 1);
}
24% {
    transform: scale(1.01, 0.99);
}
25% {
    transform: scale(1.02, 0.98);
}
26% {
    transform: scale(1.02, 0.98);
}
27% {
    transform: scale(1.02, 0.98);
}
28% {
    transform: scale(1.03, 0.97);
}
29% {
    transform: scale(1.03, 0.97);
}
30% {
    transform: scale(1.02, 0.98);
}
31% {
    transform: scale(1.02, 0.98);
}
32% {
    transform: scale(1.02, 0.98);
}
33% {
    transform: scale(1.02, 0.98);
}
34% {
    transform: scale(1.01, 0.99);
}
35% {
    transform: scale(1.01, 0.99);
}
36% {
    transform: scale(1.01, 0.99);
}
37% {
    transform: scale(1, 1);
}
38% {
    transform: scale(1, 1);
}
39% {
    transform: scale(1, 1);
}
40% {
    transform: scale(0.99, 1.01);
}
41% {
    transform: scale(0.99, 1.01);
}
42% {
    transform: scale(0.99, 1.01);
}
43% {
    transform: scale(0.99, 1.01);
}
44% {
    transform: scale(0.99, 1.01);
}
45% {
    transform: scale(0.99, 1.01);
}
46% {
    transform: scale(0.99, 1.01);
}
47% {
    transform: scale(0.99, 1.01);
}
48% {
    transform: scale(0.99, 1.01);
}
49% {
    transform: scale(1, 1);
}
}			
.personal li{
	display: block;
	width: 300px;
	height: 400px;
	position: absolute;
	/*opacity: 0.6;*/
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	transition: all 1s ease; 
}
.personal img{
	width: 100%;
	height: 100%;
}
.personal:hover .a{
	transform:  rotateY(30deg) translateZ(500px);
}
.personal:hover .b{
	transform:  rotateY(60deg) translateZ(500px);
}
.personal:hover .c{
	transform:  rotateY(90deg) translateZ(500px);
}
.personal:hover .d{
	transform:  rotateY(120deg) translateZ(500px);
	}
.personal:hover .e{
	transform:  rotateY(150deg) translateZ(500px);
}
.personal:hover .f{
	transform:  rotateY(180deg) translateZ(500px);
	}
.personal:hover .g{
	transform:  rotateY(210deg) translateZ(500px);
}
.personal:hover .h{
	transform:  rotateY(240deg) translateZ(500px);
}
.personal:hover .i{
	transform:  rotateY(270deg) translateZ(500px);
}
.personal:hover .j{
	transform:  rotateY(300deg) translateZ(500px);
}
.personal:hover .k{
	transform:  rotateY(330deg) translateZ(500px);
}
.personal:hover .l{
	transform:  rotateY(360deg) translateZ(500px);
}
.a{
	transform:  rotateY(30deg);
}
.b{
	transform:  rotateY(60deg);
}
.c{
	transform:  rotateY(90deg);
}
.d{
	transform:  rotateY(120deg);
}
.e{
	transform:  rotateY(150deg);
}
.f{
	transform:  rotateY(180deg);
}
.g{
	transform:  rotateY(210deg);
}
.h{
	transform:  rotateY(240deg);
}
.i{
	transform:  rotateY(270deg);
}
.j{
	transform:  rotateY(300deg);
}
.k{
	transform:  rotateY(330deg);
}
.l{
	transform:  rotateY(360deg);
}


.container{
	width: 100%;
	height: 100%;
/*	height: 1000px;*/
	background: url(hantiaoimg/bg_266b0fc.jpg)0 -68px no-repeat #1E1916;
	/*background: #1E1916;*/
	padding-top: 68px;
	
}
.container .title{
	display: block;
    width: 416px;
    height: 60px;
    margin: 0 auto;
    margin-top: 360px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #866f4e;
    background: url(hantiaoimg/title_c0f8187.png);
}
.container .teach{
	text-align: center;
	width: 100%;
	height: 56px;
	margin-top: 50px;
	border-bottom: 1px solid white;
}
.teach li{
	display: inline-block;
	width: auto;
    margin: 0 30px;
    height: 46px;
    color: #a78f68;
    padding-top: 10px;
    font-weight: 700;
    cursor: pointer;
}

.main{
	width: 1120px;
	height: 100%;
	margin: 0 auto;
	color: #a78f68;
}
.main ul .news-one{
	width: 40%;
	padding: 10px;
	background:  #1E1916;
	margin: 10px;
	float :left; 
	border: #3d3428 1px solid;
	cursor: pointer;
	box-shadow: 10px 10px 10px 5px black;
}
.main ul .news-one:hover{
		
}
.news-one>img , .news-one>.text{
	float: left;
}
.news-one>.text {
	padding: 20px 10px;
}
.more{
	width: 200px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	background: #1E1916;
	cursor: pointer;
	border: #3d3428 1px solid;
}