*{
	margin: 0px;
	padding: 0px;
}
img{
	border: 0 none;
	vertical-align: top;
}
ul,li{
	list-style: none;
}


.section{
	width: 100%;
}
.pic-one img,.pic-two img,.pic-three img{
	width: 100%;
}

.word{
	font-size: 80px;
	color: #ccc;
}
.section .sppp{
	bottom: 60px;
}
