*{
	margin: 0px;
	padding: 0px;
}
img{
	vertical-align: top;
	border: 0 none;
}
ul,li{
	list-style: none;
}
img{
	width: 100%;
}

.context ul{
	margin-bottom: 0px;
}
.context p{
	font-size: 20px;
	color: #777777;
	text-align: center;
}

.arrow-up,.arrow-down{
	background: #CCCCCC;
}
.arrow-down{
	margin-bottom: 10px;
}
.arrow-up{
	margin-top: 10px;
	z-index: 99999;
}
